doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    .
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    style(type="text/css").
      .theme { font-family: 'Shippori Mincho B1', serif; }
      .color{
        background-color: "red"
      }
    title 日本酒検索

  body.container.theme.bg-light.text-dark
    h1.mt-2 日本酒検索
    p.my-3 銘柄ごとのフレーバーを華やか、芳醇、重厚、穏やか、軽快、ドライの6つの観点で数値化した点数を教えてくれます。
    a(href="https://sakenowa.com") さけのわデータ  を利用しています<br><br>

    p 検索したいキーワードを入力してください
    form(action="/", method="post")
      input(type="search" name="content", placeholder="銘柄を入力")
      input(type="submit" name="submit" value="検索")
    .d-md-flex.flex-row.bd-highlight.mb-3.mt-3.justify-content-left
      #result-area.p-2.bd-highlight.ml-4
          h2 #{content.name} 
          p 華やか：#{content["華やか"]}点
          p 芳醇：#{content["芳醇"]}点
          p 重厚：#{content["重厚"]}点
          p 穏やか：#{content["穏やか"]}点
          p ドライ：#{content["ドライ"]}点
          p 軽快：#{content["軽快"]}点

      #chart-area.p-2.bd-highlight.ml-5(width="300" height="300")
        canvas(id="mychart") 
        script(type="text/javascript")
          | const ctx = document.getElementById('mychart');
          | const myChart = new Chart(ctx, {
          | type: 'radar',
          | data: {
          |  labels: ['華やか', '芳醇', '重厚', '穏やか', 'ドライ', '軽快'],
          |  datasets: [{
          |    label: '#{content.name}',
          |    backgroundColor: "rgba(200,112,126,0.5)",
          |    data: [#{content["華やか"]}, #{content["芳醇"]}, #{content["重厚"]}, #{content["穏やか"]}, #{content["ドライ"]}, #{content["軽快"]}],
          |    borderColor: '#f88'
          | }]},
          | options: {
          |  responsive: true,
          |  scale: {
          |    suggestedMin: 0,
          |    suggestedMax: 100
          |       },
          |     },
          |   },
          | )
          |
  footer.page-footer.font-small 
    .footer-copyright.text-center.py-3.fixed-bottom ©2021 Copyright: 
        a(href="") yuuki nakayama
    .
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>